<h3>Add Ticket</h3>
<div class="row">
  <form action="/tickets/createTicket" method="POST" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" id="nameOfJob" name="nameOfJob" />
        <label for="nameOfJob">Name of Work</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" id="location" name="location" />
        <label for="location">Location</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Description of Job:</h5>
        <textarea id="description" name="description"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="date" id="date" name="date" />
        <label for="date">Date</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" id="comments" name="comments" />
        <label for="comments">Comments</label>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn" />
      <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
  </form>
</div>