<h3>Add Ticket</h3>
<div class="row">
  <form action="/tickets/createTicket" method="POST" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" id="nameOfJob" name="nameOfJob" />
        <label for="nameOfJob">Name of Work</label>
      </div>
    </div>

     <div class="row">
      <div class="input-field">
        <select name="assignedTo" id="assignedTo">
          <option value="Anyone">Anyone</option>
          {{#each users}}
          <option value="{{userName}}">{{userName}}</option>
          {{/each}}
        </select>
        <label for="assignedTo">Assigned To</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" id="location" name="location" />
        <label for="location">Location</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5 class="grey-text darken-3">Description of Job:</h5>
        <textarea id="description" name="description"></textarea>
      </div>
    </div>

    <div class="row date">
      <div class="input-field">
        <input type="date" id="date" name="date" />
        <label for="date">Date</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" id="comments" name="comments" />
        <label for="comments">Comments</label>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn green darken-4 white-text" />
      <a href="/dashboard" class="btn orange darken-4 white-text">Cancel</a>
    </div>
  </form>
</div>