<h3>Add Comment</h3>
  <div class="row">
    <form action="/tickets/{{ticket._id}}" method="POST" class="col s12 m4">
      <input type="hidden" name="_method" value="PUT" />
      <div class="row">
        <div class="input-field">
          <input type="text" id="comment" name="comment" value="{{ticket.comment}}" />
          <label for="comment">Comment</label>
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Save" class="btn" />
        <a href="/tickets" class="btn orange">Cancel</a>
      </div>
    </form>
  </div>